<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Add a Mini Message</a>
    <% for (let message of messages.reverse()){ %>
    <h2><%= message.user %></h2>
    <span><%= message.text %></span>
    <p><%= message.added %></p>
    <% } %>
  </body>
</html>
